{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Info about the website</h1>
  <br>
  <p>Medical Devices are considered a fundamental component of Health Systems; the benefits they can provide continue to increase as they're essential to prevent, diagnose, treat and rehabilitate illnesses and diseases in a safe and effective way.
<br><br>A medical device can be any instrument, apparatus, implement, machine, appliance, implant, reagent for in vitro use, software, material or other similar or related article, intended by the manufacturer to be used, alone or in combination for a medical purpose.
<br><br>The Medical equipment supply management system lets people to sell and donate equipments through the website. It will give the details of equipments to those who need it. The hospitals can take the number from the website and contact them directly to get all their equipments delivered. Those who wish to donate or sell used medical equipments can create posts and will be contacted from buyers through this website. People who cannot afford these equipments can look for used equipments.
The rise in the number of medical equipment
</p>
</div>

{% endblock %}
